In [21]:
import pandas as pd
import sys
import pandas.io.sql as psql
import psycopg2 as pg
import py_stringmatching.tokenizer as tk
import string
import nltk
from nltk.stem.porter import PorterStemmer
from gensim import corpora, models, similarities
import numpy as np
from sqlalchemy import create_engine

In [22]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/jb1115/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [23]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jb1115/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
partition = sys.argv[1]
other_format = sys.argv[2]
print(partition)

In [ ]:

query = 'select news.article, news.date1 from fuzzymatcher.news as news where date1 = \'' + other_format+ '\''
    
print(query)

In [24]:
conn = pg.connect(database="dse203",user="postgres", password="newPass")
news = pd.read_sql(query, conn)

                                             article       date1
0                                                     2018-02-03
1  Amazon this week has been issued two patents f...  2018-02-02
2  Some children alive today have never used a ph...  2018-02-02
3  This headline`s news source did not provide an...  2018-02-03
4  Feb 1 (Reuters) - Google parent Alphabet Inc m...  2018-02-02

In [25]:
table = str.maketrans({key: None for key in string.punctuation})

ws_tok = tk.whitespace_tokenizer.WhitespaceTokenizer()
news['article'] = news['article'].apply(lambda x: x.translate(table))

In [26]:
news['article'] = news['article'].apply(lambda x: x.lower())\

                                             article       date1
0                                                     2018-02-03
1  amazon this week has been issued two patents f...  2018-02-02
2  some children alive today have never used a ph...  2018-02-02
3  this headlines news source did not provide an ...  2018-02-03
4  feb 1 reuters  google parent alphabet inc miss...  2018-02-02

In [27]:
def stemmingLambda(x):
    retVal = ""
    x = ws_tok.tokenize(x)
    for w in x:
        if w not in stop_words:
            retVal += porter_stemmer.stem(w)
            retVal += " "
    return retVal

In [28]:
from nltk.stem import WordNetLemmatizer

porter_stemmer = PorterStemmer()
news['article'] = news['article'].apply(stemmingLambda)
print(partition + " cleaned")

                                             article       date1
0                                                     2018-02-03
1  amazon week issu two patent bracelet track mov...  2018-02-02
2  children aliv today never use phone button bul...  2018-02-02
3  headlin news sourc provid articl preview summa...  2018-02-03
4  feb 1 reuter googl parent alphabet inc miss qu...  2018-02-02

In [29]:
#from sqlalchemy import create_engine
#engine = create_engine('postgresql://postgres:tiger@localhost:5432/dse203', echo=False)

#news.to_sql('fuzzymatcher.clean_news', con=engine, if_exists='append')

In [30]:
array_of_contents = [[token for token in contents.split()] for contents in news['article']]
dictionary = corpora.Dictionary(array_of_contents)
print(dictionary)
dictionary.save(partition + '.dict')

Dictionary(134608 unique tokens: ['accordingli', 'accus', 'acts\x94', 'amazon', 'approach']...)

In [31]:
corpus = [dictionary.doc2bow(text.split()) for text in news['article']]

In [33]:
np.shape(corpus)

(17919,)

In [35]:
model = models.LdaModel(corpus, id2word=dictionary, num_topics=205)

/anaconda3/lib/python3.6/site-packages/gensim/models/ldamodel.py:1023: RuntimeWarning: divide by zero encountered in log
  diff = np.log(self.expElogbeta)

In [37]:
model_name = partition + "Model"
model.save(model_name)
print(partition + " modeled")

In [41]:
i = 0
topics = {}
dates = {}
for index, row in news.iterrows():
    doc = row['article']
    docToken = doc.split();
    doc_bow = dictionary.doc2bow(docToken)
    doc_lda = model[doc_bow]
    maxVal = 0
    for val in doc_lda:
        if val[1] > maxVal:
            maxVal = val[1]
            loc = val[0]
    if(maxVal > 0):
        date = row['date1']
        if (loc, date) in dates:
            dates[(loc, date)] += 1
        else:
            dates[(loc, date)] = 1
        if loc in topics:
            topics[loc] +=doc
        else:
            topics[loc] = doc
    maxVal = 0

In [50]:
corpusFrame = pd.DataFrame.from_dict(topics, orient='index')
dateFrame = pd.DataFrame.from_dict(dates, orient='index')
dateFrame["topic"] = dateFrame.index.values
dateFrame["date"] = dateFrame["topic"].apply(lambda x: x[1])
dateFrame["topic"] = dateFrame["topic"].apply(lambda x: x[0])

                    0  topic        date
(86, 2018-02-02)   14     86  2018-02-02
(21, 2018-02-02)  496     21  2018-02-02
(76, 2018-02-03)   53     76  2018-02-03
(59, 2018-02-02)  322     59  2018-02-02
(11, 2018-02-02)   36     11  2018-02-02

In [80]:
corpusFrame['date'] = partition
corpusFrame['topic'] = corpusFrame.index
corpusFrame = corpusFrame.rename(index=str, columns={0:"corpus", "date":"date", "topic": "topic"})
corpusFrame.head()

                                               corpus        date topic
85  amazon week issu two patent bracelet track mov...  2018-02-01    85
46  children aliv today never use phone button bul...  2018-02-01    46
97  headlin news sourc provid articl preview summa...  2018-02-01    97
34  feb 1 reuter googl parent alphabet inc miss qu...  2018-02-01    34
23  imag valuewalk super mario movi longer rumor e...  2018-02-01    23

In [87]:
engine = create_engine('postgresql://postgres:tiger@localhost:5432/dse203', echo=False)

corpusFrame.to_sql('topic_corpus', con=engine, if_exists='append')

In [51]:
dateFrame = dateFrame.rename(index=str, columns={0:"count", "date":"date", "topic": "topic"})

engine = create_engine('postgresql://postgres:tiger@localhost:5432/dse203', echo=False)
dateFrame.to_sql('topic_date_count', con=engine, if_exists='append')